Q1. What is the difference between Ordinal Encoding and Label Encoding? 
Provide an example of when you might choose one over the other.

Both convert categorical feautres into numerical features.
Ordinal means converting categories with rank.

Label encoder encodes values between 0 to n-1.
encoder = LabelEncoder()

Ordinal converts categorical into integers, but does it rank wise, starting from 0.

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

It is used to encode categorical variables based on their relationship with target variables.

In Target Guided Ordinal Encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category.

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariance is a measure of the relationship between two random variables.
This is the property of a function of maintaining its form when the variables are linearly transformed.
Covariance is measured in units, which are calculated by multiplying the units of the two variables.
Covariance and correlation greatly aid in understanding the relationship between two continuous variables.
Covariance indicates whether two variables fluctuate in the same (positive covariance) or opposite direction (negative covariance).

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [4]:
import pandas as pd
df = pd.DataFrame({
    'color':['red','green','blue'],
    'size':['small','medium','large']
})

df

   color    size
0    red   small
1  green  medium
2   blue   large

In [7]:
pip install sklearn.preprocessing

Collecting sklearn.preprocessingNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for sklearn.preprocessing from https://files.pythonhosted.org/packages/4b/fc/b70d77dc1b80e0199efac9e4a6bc9e0812cdf74918106d6c06aafcfb5043/sklearn_preprocessing-0.1.0-py3-none-any.whl.metadata
  Downloading sklearn_preprocessing-0.1.0-py3-none-any.whl.metadata (70 bytes)
Downloading sklearn_preprocessing-0.1.0-py3-none-any.whl (10 kB)
Installing collected packages: sklearn.preprocessing
Successfully installed sklearn.preprocessing-0.1.0

WARNING: There was an error checking the latest version of pip.

In [8]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()
df['color_le'] = le.fit_transform(df['color'])

In [17]:
df['size_le'] = le.fit_transform(df['size'])

In [20]:
df

   color    size  size_le  color_le
0    red   small        2         2
1  green  medium        1         1
2   blue   large        0         0

Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [23]:
 import pandas as pd
df2 = pd.DataFrame({
    'age':[18,28,32,35,29],
    'income':[25000,50000,60000,80000,75000],
    'education level':['Bachelors','Masters','PHD','PHD','Masters']
})

df2

   age  income education level
0   18   25000       Bachelors
1   28   50000         Masters
2   32   60000             PHD
3   35   80000             PHD
4   29   75000         Masters

In [25]:
le = LabelEncoder()
df2['education level'] = le.fit_transform(df2['education level'])

In [26]:
df2

   age  income  education level
0   18   25000                0
1   28   50000                1
2   32   60000                2
3   35   80000                2
4   29   75000                1

In [27]:
df2.corr()

                      age    income  education level
age              1.000000  0.901434         0.957818
income           0.901434  1.000000         0.775385
education level  0.957818  0.775385         1.000000

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [29]:
df3 = pd.DataFrame({
    'temperature':[40,35,37,38,39,34],
    'humidity':['High','Low','High','Low','Very High','Very Low'],
    'weather condition':['Hot','Humid','Cold','Cool','Warm','Wet'],
    'wind direction':['North','South','East','West','North','South']
})

df3

   temperature   humidity weather condition wind direction
0           40       High               Hot          North
1           35        Low             Humid          South
2           37       High              Cold           East
3           38        Low              Cool           West
4           39  Very High              Warm          North
5           34   Very Low               Wet          South

In [30]:
encoder=OrdinalEncoder(categories=[['Very Low','Low','High','Very High']])

NameError: name 'OrdinalEncoder' is not defined

In [31]:
from sklearn.preprocessing import OrdinalEncoder

In [32]:
encoder=OrdinalEncoder(categories=[['Very Low','Low','High','Very High']])

In [36]:
df3['humidity'] = encoder.fit_transform(df3[['humidity']])

In [37]:
df3

   temperature  humidity weather condition wind direction
0           40       2.0               Hot          North
1           35       1.0             Humid          South
2           37       2.0              Cold           East
3           38       1.0              Cool           West
4           39       3.0              Warm          North
5           34       0.0               Wet          South

In [39]:
le = LabelEncoder()
df3['weather condition'] = le.fit_transform(df3['weather condition'])

df3

   temperature  humidity  weather condition wind direction
0           40       2.0                  2          North
1           35       1.0                  3          South
2           37       2.0                  0           East
3           38       1.0                  1           West
4           39       3.0                  4          North
5           34       0.0                  5          South

In [40]:
le = LabelEncoder()
df3['wind direction'] = le.fit_transform(df3['wind direction'])

df3

   temperature  humidity  weather condition  wind direction
0           40       2.0                  2               1
1           35       1.0                  3               2
2           37       2.0                  0               0
3           38       1.0                  1               3
4           39       3.0                  4               1
5           34       0.0                  5               2